<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/a-bird.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
              {{>header}}
        </div>
        <p>Hi this is Madhav, hope you liked the website</p>
        <img src="/img/pc.jpg" class="portrait">
        {{>footer}}
    </body>
</html>